body {
    margin: 0;
    font-family: 'Kalpurush', 'Noto Serif Bengali', serif;
    padding: 5px;
}

header {
    text-align: center;
    padding: 20px 10px;
    background-color: rgb(225, 245, 255);
}

header img {
    max-width: 220px;
    height: auto;
    display: block;
    margin: 20px auto;
}



