/* ===== Reset ===== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Kalpurush', 'Noto Serif Bengali', serif;
  background: #f5f5f5;
}

/* ===== Grid Container ===== */
.gridContainer {
  min-height: 100vh;
  display: grid;

  /* Desktop layout */
  grid-template-columns: 240px 1fr 350px;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "header header header"
    "left   main   right"
    "footer footer footer";
}

/* ===== Grid Areas ===== */
.header {
  grid-area: header;
  padding: 20px;
  background: #eaeaea;
  text-align: center;
}

.leftBar {
  grid-area: left;
  padding: 20px;
  background: #dcdcdc;
}

.mainContent {
  grid-area: main;
  padding: 25px 80px;
  background: #d8d8d8;
}

.rightBar {
  grid-area: right;
  padding: 20px;
  background: #dcdcdc;
}

.footer {
  grid-area: footer;
  padding: 20px;
  background: #eaeaea;
  text-align: center;
}

@media (max-width: 1100px) {
    .mainContent {
    grid-area: main;
    padding: 25px 25px;
    background: #d8d8d8;
}
}

@media (max-width: 992px) {
  .gridContainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .leftBar,
  .rightBar {
    display: none;
  }
}

.mainContent p {
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 1.3em;
    letter-spacing: 0.01em;
}

/* Tablet */
@media (max-width: 1024px) {
    .mainContent p {
        font-size: 20px;
        line-height: 1.5;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .mainContent p {
        font-size: 19px;
        line-height: 1.4;
    }
}

/* ====================
   STORY IMAGES
==================== */

.story-image {
    margin: 2.2em 0;
    text-align: center;
}

.story-image img {
    width: 100%;
    max-width: 480px;   /* Desktop safe */
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
}

/* Tablet */
@media (max-width: 1024px) {
    .story-image img {
        max-width: 380px;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .story-image {
        margin: 1.8em 0;
    }

    .story-image img {
        max-width: 92%;
        border-radius: 4px;
    }
}

/* =============== Page Switch Button =============== */

.episode-switch {
  margin: 60px 0 30px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.ep-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.ep-list.start {
  justify-content: center;
}

.ep-btn {
  text-decoration: none;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  padding: 8px 14px;
  border-radius: 4px;
  background: #fff;
}

.ep-btn:hover {
  background: #f0f0f0;
}

.prev {
  display: inline-block;
  margin-bottom: 10px;
}
