body {
    margin: 0;
    padding: 5px;
    font-family: 'Kalpurush', 'Noto Serif Bengali', serif;
    background-color: #e0e0e0;
    color: #111;
}

h1 {
    text-align: center;
    font-weight: 600;
}

p {
    text-align: left;
}

.story-cover {
    width: 550px;
    height: auto;
    display: block;
    left: 20px;
    margin: 20px auto;
}

@media (max-width: 992px) {
    .story-cover {
        width: 75%;
    }
    p {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .story-cover {
        width: 95%;
    p {
        font-size: 19px;
    }
    }
}

.mainContent {
    padding: 10px 15px;
    font-size: 25px;
}

